ion-button {
    //margin: 25px;
    width: 100%;   
}

ion-col {
    margin: 10px;
}

ion-row {
    //width: 50em;
 
    max-width: 100%;
}

ion-grid {
    background-color: #E8D2AE;
        
    
}

/* #login {
    float: right;
} */
