<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button (click)="goToHomePage()">
        HOME
      </ion-button>
    </ion-col>
    
    <ion-col>
      <ion-button (click)="goToCurrencyPage()">
        CURRENCY CALCULATOR
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button (click)="goToValueCalcPage()">
        VALUE PAPER CALCULATOR
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button (click)="goToLoginPage()">log in</ion-button>
    </ion-col>
  </ion-row>
</ion-grid> 