<!-- <ion-grid>
  <ion-row>
    <ion-col>
      <ion-button (click)="goToHomePage()">
        HOME
      </ion-button>
    </ion-col>
    
    <ion-col>
      <ion-button (click)="goToCurrencyPage()">
        CURRENCY CALCULATOR
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button (click)="goToValueCalcPage()">
        VALUE PAPER CALCULATOR
      </ion-button>
    </ion-col>

    <ion-col class="login" [hidden]="loginVisible">
      <ion-button (click)="goToLoginPage()">log in</ion-button>
    </ion-col>

    <ion-col class="login" [hidden]="!loginVisible">
      <ion-button (click)="logout()">log out</ion-button>
    </ion-col>
    <ion-col class="username" [hidden]="!loginVisible">
      Current user: {{this.username}}
    </ion-col>
  </ion-row>
</ion-grid>  -->

 <ul>
  <li><a href="#" [ngClass]="{'active': toggleHome}" (click)="goToHomePage($event)"   >
    HOME
  </a></li>
  <li><a href="#" [ngClass]="{'active': toggleCur}" (click)="goToCurrencyPage($event)"  >
    CURRENCY CALCULATOR
  </a></li>
  <li><a href="#" (click)="goToValueCalcPage($event)" [ngClass]="{'active': toggleVal}" >
    VALUE CALCULATOR
  </a></li>
  <li><a href="#" (click)="goToLoginPage($event)" [ngClass]="{'active': toggleLog}" [hidden]="loginVisible">
    LOGIN
  </a></li>
  <li><a href="#" (click)="logout()" [hidden]="!loginVisible" >
    LOGOUT
  </a></li>
  <li><p class="username" [hidden]="!loginVisible">
    CURRENT USER: {{this.username}}
  </p></li>
</ul>
