<!-- <ion-list>
  <ion-item>
    <ion-button (click)="goToHomePage()">
      HOME
    </ion-button>
    <ion-button (click)="goToCurrencyPage()">
      CURRENCY CALCULATOR
    </ion-button>
    <ion-button (click)="goToValueCalcPage()">
      VALUE PAPER CALCULATOR
    </ion-button>
    <ion-button id="login">log in</ion-button>
  </ion-item>
</ion-list>  -->

<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="goToHomePage()" id="homePage">Home</ion-item>
      <ion-item (click)="goToCurrencyPage()">Currency calculator</ion-item >
      <ion-item (click)="goToValueCalcPage()">Value paper calculator</ion-item>
      <ion-item (click)="goToLoginPage()" [hidden]="loginVisible" id="login">Login</ion-item>
      <ion-item (click)="logout()" [hidden]="!loginVisible" id="login">Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>