<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="goToHomePage()" id="homePage">Home</ion-item>
      <ion-item (click)="goToCurrencyPage()">Currency calculator</ion-item >
      <ion-item (click)="goToValueCalcPage()">Value paper calculator</ion-item>
      <ion-item (click)="goToLoginPage()" [hidden]="loginVisible" id="login">Login</ion-item>
      <ion-item (click)="logout()" [hidden]="!loginVisible" id="login">Logout</ion-item>
      <ion-item [hidden]="!loginVisible">CURRENT USER: {{this.username}}</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>