ion-grid {
    width: 100%;
}

.itemBackground {
    --background: #ece4e4;
    width: 100%;
}

.itemInputBorderRadius {
    --border-radius: 20px;
}

.itemAlternateCurrencyBackground {
    --background: #d6d3d3;
    width: 100%;
}
  
.inputLabel {
    padding-right: 30px;
}

.inputBox {
    background: #c8f5c9;
    
    margin-left: 20px;
    margin-right: 10px;
}
  
.currencyLabel {
    padding-left: 30px;
    //margin: 30px;
} 
  
/* #labelShares {
    color: green;
    font-size: 25px;
} */
  
.makeGapAbove {
    padding-top: 5px;
}

// Text label colors
.profitColor {
    color: #177017;
}

.neutralColor {
    color: #888621;
}

.lossColor {
    color: #b11f1f;
}

.setRadioGroupToRight {
    float: right;
    margin: 20px;
}

.setContentToRight {
    justify-content: center;
}