<ion-content [hidden]="logIn200">

  <ion-icon [ngClass]="{'active': !loggedIn}" name="wifi-outline"></ion-icon>

  <div class="center" [hidden]="registerDivVisible">
    <ion-input placeholder="Enter username" type="text" [(ngModel)]="username" class="separate userInput"></ion-input>
    <ion-input placeholder="Input password" type="password" [(ngModel)]="password" class="separate userInput"></ion-input>
    <ion-button color="primary" (click)=logInClick()>Log in</ion-button>
    <ion-button color="secondary" (click)=showHideRegister()>Click if you want to register</ion-button>
  </div> 

  <div id="registration" class="center" [hidden]="!registerDivVisible">
    <ion-input placeholder="Enter username" type="text" [(ngModel)]="username" class="separate userInput"></ion-input>
    <ion-input placeholder="Input password" type="password" [(ngModel)]="password" class="separate userInput"></ion-input>
    <ion-input placeholder="Enter first name" type="fName" [(ngModel)]="fName" class="separate userInput"></ion-input>
    <ion-input placeholder="Enter last name" type="lName" [(ngModel)]="lName" class="separate userInput"></ion-input>
    <ion-button color="primary" (click)=RegisterClick()>Register</ion-button>
    <ion-button color="secondary" (click)=showHideRegister()>Click if you want to log in</ion-button>
  </div> 

  <div class="errorMessages" [hidden]="!logMessage">Wrong password or username!</div>
  <div class="errorMessages" [hidden]="!registerMessage">Username already exists! Choose another.</div>

</ion-content>
