.active {
    color: red;
}

.center {
    margin: 15px;
    margin-left: 20%; 
    width: 60%;
}

.separate {
    margin: 4px;
}

.userInput {
    border-bottom: 1px grey solid;
}

.errorMessages{
    color: red;
    text-align: center;
    font-size: large;
}