<ion-header>
  <ion-toolbar>
    <ion-title>currencyCalc</ion-title>
  </ion-toolbar>
  <app-nav-bar></app-nav-bar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row size="auto">
      <ion-col>
        <ion-item class="itemBackground itemInputBorderRadius">
          <ion-label class="inputLabel">Unesi iznos</ion-label>
          <ion-input class="inputBox" type="number" min="0" [(ngModel)]="inputValue" (change)="calculateExchange()"></ion-input>
              <ion-list>
                <ion-item>
                  <ion-select placeholder="Valuta" [(ngModel)]="inputCurrency" (ngModelChange)="calculateExchange()">
                    <ion-select-option value="usd">USD</ion-select-option>
                    <ion-select-option value="eur">EUR</ion-select-option>
                    <ion-select-option value="hrk">HRK</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item  class="itemAlternateCurrencyBackground">
          <ion-label class="inputLabel" >Vrijednost iznosa</ion-label>
          <ion-label>{{outputValue}}</ion-label>
          <ion-list>
            <ion-item>
              <ion-select placeholder="Valuta" [(ngModel)]="outputCurrency" (ngModelChange)="calculateExchange()">
                <ion-select-option value="usd">USD</ion-select-option>
                <ion-select-option value="eur">EUR</ion-select-option>
                <ion-select-option value="hrk">HRK</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
